@import url(../bootstrap/css/bootstrap.css);
@font-face {
  font-family: 'Chillax';
  src: url("../fonts/Chillax-Variable.ttf"); }

body {
  font-family: 'Chillax' !important;
  font-size: smaller !important; }

.form-control {
  background-color: #F9F9FB; }
  .form-control:focus {
    border-color: #583DA1;
    box-shadow: 0 0 0 0.25rem rgba(88, 61, 161, 0.25);
    background-color: #F9F9FB; }

.btn {
  border: none; }

.dropdown-menu {
  padding-inline: 5px;
  width: fit-content; }

.dropdown-item {
  border-radius: var(--bs-dropdown-border-radius); }

.dropdown-item:hover {
  transition: background-color 500ms ease;
  background-color: var(--bs-gray-200); }

.dropdown-item:active {
  background-color: var(--bs-gray-400);
  color: #583DA1; }

.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #F6F6F6; }
  .login__container {
    width: 50%;
    min-width: 350px;
    margin-inline: 20px; }
  .login__content {
    margin: 0 auto;
    width: 50%;
    min-width: 250px; }
    .login__content--wide {
      width: 65%; }
  .login__intro {
    padding: 10px; }
  .login__title {
    padding-top: 5px;
    font-weight: 600; }
  .login__subtitle {
    font-weight: 600; }
  .login__form {
    padding-top: 5px;
    border-radius: 20px;
    margin: auto; }
  .login__register {
    padding-top: 15px;
    font-weight: 500; }
  .login__link {
    text-decoration: none;
    font-weight: 600; }
  .login__image {
    flex-shrink: 1;
    background-image: url("../images/space.jpg");
    height: 100%;
    width: 50%;
    background-size: cover;
    background-repeat: repeat; }
  @media screen and (max-width: 700px) {
    .login {
      justify-content: center; }
    .login__container {
      width: 80%; }
    .login__content {
      width: 90%; }
    .login__image {
      display: none; } }
.form-group label {
  font-weight: 600; }

.form-group input:focus {
  border-color: #583DA1;
  box-shadow: 0 0 0 0.25rem rgba(88, 61, 161, 0.25); }

.form-group .invalid-feedback {
  margin-bottom: 0; }

.tooltip--register .tooltip-inner {
  background-color: #583DA1;
  max-width: 500px; }

.btn--accent {
  background-color: #583DA1;
  color: white;
  transition: background-color 1s ease;
  font-size: small; }
  .btn--accent:hover {
    background-color: rgba(88, 61, 161, 0.85);
    color: white; }

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-gray-700);
  --bs-tooltip-color: var(--bs-white); }

.share-modal__switch:focus {
  box-shadow: 0 0 0 0.25rem rgba(88, 61, 161, 0.25);
  border-color: #583DA1;
  background-image: url("../images/circle.svg"); }

.share-modal__switch:checked {
  background-color: #583DA1;
  color: white;
  border-color: #583DA1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e"); }

.share-modal__link {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
  height: fit-content; }

.share-modal__btn {
  font-size: small;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset; }

.file-grid {
  background-color: #F6F6F6;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-inline: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: min-content min-content;
  gap: 1em;
  max-width: 100%; }
  .file-grid::-webkit-scrollbar {
    width: 14px; }
  .file-grid::-webkit-scrollbar-thumb {
    border: 4px solid #F6F6F6;
    background-color: #583DA1;
    border-radius: 20px; }
  .file-grid__upload {
    grid-column: 1/-1;
    background-color: #F6F6F6;
    height: 10vh; }

#details-panel-content {
  overflow-y: auto;
  padding-inline: 5%; }

@media (max-width: 768px) {
  .file-grid {
    height: 90vh; } }

.sidebar {
  min-width: 170px;
  transition: width 1s ease; }
  .sidebar__link-group {
    margin-top: 55%; }
  .sidebar__link {
    background-color: var(--bs-dark);
    color: var(--bs-gray-500);
    padding: 1rem;
    transition: color 1.5s ease; }
  .sidebar__link:hover {
    color: white; }
  .sidebar__link--active {
    background-color: #583DA1 !important;
    color: white !important;
    transition: background-color 1.5s ease; }
  .sidebar__logo i {
    color: #583DA1; }

.storage {
  padding: 10px;
  height: 30%;
  background-color: var(--bs-gray-800);
  margin-top: auto; }
  .storage__bar {
    height: 10px; }
  .storage__progress {
    background-color: #583DA1; }
  .storage__amount {
    color: var(--bs-gray-500); }

@media (max-width: 768px) {
  .sidebar {
    max-width: 50px;
    min-width: 50px;
    padding: 0 !important; }
    .sidebar__link {
      padding: 10px 15px; }
    .sidebar__link--active {
      background-color: inherit !important;
      border-left: 2.5px solid #583DA1;
      border-radius: 0px !important;
      color: #583DA1 !important; }
    .sidebar span {
      display: none; }
    .sidebar * {
      width: fit-content !important; }
  .storage {
    display: none; } }

.topbar {
  gap: 1rem;
  height: 10vh;
  border-bottom: 1px solid #EEEFF1; }
  .topbar__searchbar {
    min-width: 150px;
    max-width: 300px;
    background-color: #F6F6F6; }
  .topbar__input::placeholder {
    font-size: small; }
  .topbar__logout {
    background-color: white;
    border: none; }
  .topbar__logout:active {
    background-color: var(--bs-gray-600);
    color: var(--bs-dark); }
  .topbar__user:hover {
    transition: filter 1s ease;
    filter: brightness(150%); }
  .topbar__upload-hidden {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }

@media (max-width: 768px) {
  .topbar {
    height: 10vh; }
    .topbar__upload-btn {
      font-size: smaller;
      padding: 5px;
      border-radius: 50%; }
    .topbar__upload-btn span {
      display: none; }
    .topbar__searchbar * {
      font-size: x-small; }
    .topbar__searchbar input::placeholder {
      font-size: x-small; }
    .topbar__user p {
      display: none !important; }
    .topbar__user i {
      font-size: 25px; } }

.file-card {
  height: 240px;
  background-color: white;
  border-radius: 25px;
  min-width: 125px;
  border: 1px solid var(--bs-gray-400); }
  .file-card__main {
    padding: 12.5px;
    padding-bottom: 12.5px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: end; }
  .file-card__icons {
    font-size: 23px;
    justify-self: flex-start;
    width: 100%; }
  .file-card__img {
    margin: auto;
    color: #583DA1;
    font-size: 40px; }
  .file-card__menu {
    color: var(--bs-gray-600);
    padding: 5px; }
  .file-card__title {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center; }
  .file-card__date {
    color: var(--bs-gray-600);
    text-align: center; }
  .file-card__size {
    height: 20%;
    background-color: #F0F0F0;
    padding: 7.5px 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-weight: 500;
    display: flex;
    align-items: center; }

.file-card:focus-within {
  border: 2px solid #583DA1; }

/*# sourceMappingURL=base.css.map */