.active {
    background-color: $accent-clr !important;
    color: white !important;
}

.btn--accent {
    background-color: $accent-clr;
    color: white;
    transition: all 1s ease;
    font-size: small;
}

.btn--accent:hover {
    background-color: rgba($accent-clr, 0.85);
    color: white;
}

.page {
    width: 100%;

    &__nav {
        min-width: 30px;
    }

}

.sidebar {

    &__link-group {
        margin-top: 25%;
    }

    &__link {
        color: #7F8082;
        transition: color 1s ease;
        padding: 1rem;
    }

    &__link:hover {
        color: white;
    }

    &__quota {
        padding: 10px;
        height: 30%;
        background-color: #343A40;
        margin-top: auto;
    }
}

.topbar {
    gap: 1rem;
    height: 10vh;
    border-bottom: 1px solid $primary-clr-2;

    &__searchbar{
        min-width: 30%;
        max-width: 30%;
    }

    &__input::placeholder {
        font-size: small;
    }
}

.dashboard {
    height: 90vh;
    overflow: auto;
}

@media (max-width: 768px) {

    .page {

        &__nav {
            width: 15%;
            padding: 0 !important;
        }

    }


    .sidebar {

        &__link {
            padding: 10px 15px;
        }

        span {
            display: none;
        }

        * {
            width: fit-content !important;
        }

        &__quota {
            display: none;
        }
    }

    .topbar {
        height: 3rem;

        &__user {
            display: none !important;
        }
    }
}