@font-face {
    font-family: 'Chillax';
    src: url('../fonts/Chillax-Variable.ttf');
}

body {
    font-family: 'Chillax' !important;
    font-size: smaller !important;
}

.form-control {
    background-color: #F9F9FB;

    &:focus {
        border-color: $accent-clr;
        box-shadow: 0 0 0 0.25rem rgba($accent-clr, 0.25);
        background-color: #F9F9FB;
    }
}

.btn {
    border: none;
}

.fa-star {
    transition: all 1s ease;
}