@font-face {
    font-family: 'Chillax';
    src: url('../fonts/Chillax-Variable.ttf');
}

body {
    font-family: 'Chillax' !important;
    font-size: smaller !important;

    // &::-webkit-scrollbar {
    //     width: 14px;
    // }

    // &::-webkit-scrollbar-thumb {
    //     border: 4px solid $background-color-1;
    //     background-color: $accent-clr;
    //     border-radius: 20px;
    // }
}

.form-control {
    background-color: #F9F9FB;

    &:focus {
        border-color: $accent-clr;
        box-shadow: 0 0 0 0.25rem rgba($accent-clr, 0.25);
        background-color: #F9F9FB;
    }
}

.btn {
    border: none;
}

.dropdown-menu {
    padding-inline: 5px;
    width: fit-content;
}

.dropdown-item {
    border-radius: var(--bs-dropdown-border-radius);
}

.dropdown-item:hover {
    transition: background-color 500ms ease;
    background-color: var(--bs-gray-200);
}

.dropdown-item:active {
    background-color: var(--bs-gray-400);
    color: $accent-clr;
}