@font-face {
    font-family: 'Chillax';
    src: url('../fonts/Chillax-Variable.ttf');
}

body {
    font-family: 'Chillax' !important;
    font-size: smaller !important;
}

.form-control {
    background-color: #F9F9FB;

    &:focus {
        border-color: $accent-clr;
        box-shadow: 0 0 0 0.25rem rgba($accent-clr, 0.25);
        background-color: #F9F9FB;
    }
}

.btn {
    border: none;
}

.dropdown-menu {
    padding-inline: 5px;
    width: fit-content;
}

.dropdown-item {
    border-radius: var(--bs-dropdown-border-radius);
}

.dropdown-item:hover {
    transition: background-color 500ms ease;
    background-color: var(--bs-gray-200);
}

.dropdown-item:active {
    background-color: var(--bs-gray-400);
    color: $accent-clr;
}

#uploadToast {
    position: fixed;
    bottom: 10px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    border: 1px solid var(--bs-gray-600);
    z-index: 10; /* Ensure it's above other elements */
    color: $primary-clr-2;
    max-width: 200px;

    progress {
        width: 150px;
        accent-color: $accent-clr;
    }

}

#uploadToastFileName {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

#uploadToastText {
    width: 30px;
    margin-inline: auto;
}