.sidebar {
    min-width: 170px;
    transition: width 1s ease;

    &__link-group {
        margin-top: 25%;
    }

    &__link {
        background-color: $primary-clr-1;
        color: var(--bs-gray-500);
        padding: 1rem;
        transition: color 1.5s ease;
    }

    &__link:hover {
        color: white;
    }

    &__link--active {
        background-color: $accent-clr !important;
        color: white !important;
        transition: background-color 1.5s ease;
    }

    &__logo i {
        color: $accent-clr;
    }
}

.storage {
    padding: 10px;
    height: 30%;
    background-color: $primary-clr-3;
    margin-top: auto;

    &__bar {
        height: 10px;
    }

    &__progress {
        background-color: $accent-clr;
    }

    &__amount {
        color: var(--bs-gray-500);
    }
}

@media (max-width: 768px) {

    .sidebar {
        max-width: 50px;
        min-width: 50px;
        padding: 0 !important;

        &__link {
            padding: 10px 15px;
        }

        &__link--active {
            background-color: inherit !important;
            border-left: 2.5px solid $accent-clr;
            border-radius: 0px !important;
            color: $accent-clr !important;
        }

        span {
            display: none;
        }

        * {
            width: fit-content !important;
        }
    }

    .storage {
        display: none;
    }
}