.sidebar {
    // min-width: 130px;

    &__link-group {
        margin-top: 25%;
    }

    &__link {
        background-color: $primary-clr-1;
        color: $secondary-clr-1;
        padding: 1rem;
        transition: color 1.5s ease;
    }

    &__link:hover {
        color: white;
    }

    &__link--active {
        background-color: $accent-clr !important;
        color: white !important;
        transition: background-color 1.5s ease;
    }

    &__quota {
        padding: 10px;
        height: 30%;
        background-color: $primary-clr-3;
        margin-top: auto;
    }

    &__logo i {
        color: $accent-clr;
    }
}

@media (max-width: 768px) {

    .sidebar {

        &__link {
            padding: 10px 15px;
        }

        &__link--active {
            background-color: inherit !important;
            border-left: 2.5px solid $accent-clr;
            border-radius: 0px !important;
            color: $accent-clr !important;
        }

        &__quota {
            display: none;
        }

        span {
            display: none;
        }

        * {
            width: fit-content !important;
        }

        &__quota {
            display: none;
        }
    }
}