<div class="dashboard">
    <div class="dashboard__upload w-100 d-flex align-items-center justify-content-between">
        <h5 class="m-0 dashboard__heading" style="font-weight: 550;">All Files</h5>
    </div>
    {% for file in files %}
        <div class="file-card shadow-sm">
            <div class="file-card__main">
                <div class="file-card__head d-flex justify-content-between align-items-start">
                    <i class="fa-solid fa-file accent-clr" style="font-size: 30px;"></i>
                    <button class="fa-solid fa-ellipsis-vertical file-card__menu btn"></button>
                </div>
                <h5 class="file-card__title">File {{ file.file_name }}</h5>
                <span class="file-card__date">{{ file.date_created }}</span>
            </div>
            <div class="file-card__size">
                <span class="">{{ file.file_size }}</span>
            </div>
        </div>
    {% endfor %}
</div>