<div id="details-panel-content">
    <div class="offcanvas-header details-panel__header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body details-panel__content">
      <object class="details-panel__preview shadow" type="{{ file.type }}"
      data="{% url 'download_file' file.id %}"></object>
      <h5 class="details-panel__title pt-3 mb-1 ">File Details</h5>
      <dl class="details-panel__info pt-2 px-1">
        <dt>Type</dt>
        <dd>{{ file.type }}</dd>
        <dt>Date Created</dt>
        <dd>{{ file.date_created }}</dd>
        <dt>Size</dt>
        <dd>{{ file.size | filesizeformat }}</dd>
      </dl>
    </div>
</div>
