<div id="file-card{{ file.id }}" class="file-card shadow-sm">
    <div class="file-card__main">
        <div class="file-card__icons d-flex justify-content-between align-items-start dropdown-center">
            <button class="fa-star file-card__menu btn {% if file.favourite %} fa-solid 
            {% else %}fa-regular{% endif %}" hx-get="{% url 'favourite_file' file.id %}" 
            hx-target="#file-card{{ file.id }}" hx-swap="outerHTML"></button>
            <button class="fa-solid fa-bars-staggered file-card__menu btn"
            type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu" style="width: fit-content;">
                <li>
                    <button type="submit" class="dropdown-item" style="font-size: small;">
                        <i class="fa-solid fa-circle-info"></i>
                        <span class="ps-2">Details</span>
                    </button>
                    <a href="{% url 'download_file' file.id %}" type="button" class="dropdown-item" style="font-size: small;">
                        <i class="fa-solid fa-cloud-arrow-down"></i>
                        <span class="ps-2">Download</span>
                    </a>
                    <button type="submit" class="dropdown-item" style="font-size: small;">
                        <i class="fa-solid fa-users"></i>
                        <span class="ps-2">Share</span>                       
                    </button>
                    <a href="{% url 'delete_file' file.id %}" hx-delete="{% url 'delete_file' file.id %}" hx-target="#main" hx-confirm="Are you sure you want to delete this file?" class="dropdown-item" style="font-size: small;">
                        <i class="fa-solid fa-dumpster-fire"></i>
                        <span class="ps-2">Delete</span>
                    </a>
                </li>
            </ul>
        </div>
        <i class="fa-solid fa-file-lines file-card__img"></i>
        <h5 class="file-card__title">{{ file.name }}</h5>
        <span class="file-card__date">{{ file.date_created | date }}</span>
    </div>
    <div class="file-card__size">
        <span class="">{{ file.size | filesizeformat }}</span>
    </div>
</div>