{{ storage|json_script:"storage" }}
<script>
    highlight_navlink();
    add_upload();
    storage_bar();

    function highlight_navlink(){
        let links = document.querySelectorAll('.sidebar__link')
    
        links.forEach(link => link.addEventListener('click', event => {
            links.forEach(link => link.classList.remove('sidebar__link--active'))
            event.currentTarget.classList.add('sidebar__link--active')
        }))
    }

    function add_upload(){
        document.querySelector('#upload-btn').addEventListener('click', () => {
            document.querySelector('#upload-hidden').click();
        })
    }

    function storage_bar(){
        let storage = JSON.parse(document.querySelector('#storage').textContent)
        const quota = storage.quota
        let used = storage.used
        let percentage = Math.min((used / quota) * 100, 100);

        let bar = document.querySelector('#progress-bar')
        bar.style.width = `${percentage}%`
    }

    htmx.onLoad(function(el){
        storage_bar()
    })
</script>