<div class="col-2 px-3 bg-dark sidebar"></section>
    <div class="sidebar__container d-flex flex-column align-items-center pt-3 pb-4 text-white min-vh-100">
        <h5 class="w-100 sidebar__logo"><i class="fa-solid fa-circle-nodes"></i><span class="ps-2">Cloudstore</span></h5>
        <nav class="nav flex-column w-100 sidebar__link-group">
            <a href="{% url 'all_files' %}" id="all_files" hx-get="{% url 'all_files' %}" hx-target="#content" 
            hx-swap="outerHTML" hx-push-url="true" class="sidebar__link nav-link rounded sidebar__link--active">
                <i class="fa-solid fa-file"></i><span class="ps-2">All Files</span>
            </a>
            <a href="{% url 'favourites' %}" hx-get="{% url 'favourites' %}" hx-target="#content" 
            hx-swap="outerHTML" hx-push-url="true" class="sidebar__link nav-link rounded">
                <i class="fa-solid fa-star"></i><span class="ps-2">Favourites</span>
            </a>
            <a href="#" class="sidebar__link nav-link rounded"><i class="fa-solid fa-users"></i><span class="ps-2">Shared</span></a>
        </nav>
        <div class="storage w-100 rounded">
            <p><i class="fa-solid fa-server"></i><span class="ps-2">Storage</span></p>
            <div class="w-100 storage__bar progress">
                <div id="progress-bar" class="storage__progress progress-bar"></div>
            </div>
            <p class="mb-0 mt-1 storage__amount" style="font-size: 11px;">{{ storage.used | filesizeformat }} / 1 GB</p>
        </div>
    </div>
</div>