<div class="topbar d-flex align-items-center justify-content-between px-4">
    <form id="upload-form" enctype="multipart/form-data" hx-post="{% url 'upload_file' %}" 
    hx-encoding="multipart/form-data" method="post" hx-trigger="change" hx-target="#alerts"
    hx-indicator="#spinner">
        {% csrf_token %}
        {{ uploadform }}
        <button class="btn btn--accent topbar__upload-btn" id="upload-btn" type="button">
            <i class="fa-solid fa-cloud-arrow-up"></i><span class="ps-2">Upload</span>
        </button>
    </form> 
    <form class="input-group topbar__searchbar">
        {% csrf_token %}
        <label class="input-group-text rounded-start"><i class="fa-solid fa-magnifying-glass text-secondary"></i></label>
        {{ searchform.query }} 
    </form>
    <div class="dropdown">
        <button class="topbar__user dropdown-toggle btn d-flex align-items-center gap-1" 
        type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-circle-user fa-2x"></i>
            <p class="m-0" style="font-weight: 500; font-size: small;">{{ user.get_username }}</p>
        </button>
        <ul class="dropdown-menu">
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="topbar__logout dropdown-item w-100" style="font-size: small;">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="ps-2">Logout</span>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>