<div class="topbar d-flex align-items-center justify-content-between px-4">
    <button class="btn btn--accent topbar__upload-button">
        <i class="fa-solid fa-cloud-arrow-up"></i><span class="ps-2">Upload</span>
    </button>
    <form class="input-group topbar__searchbar">
        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass text-secondary"></i></span>
        <input class="form-control topbar__input text-secondary" style="border-left: none;" 
        type="text" placeholder="Search All Files...">
    </form>
    <div class="dropdown">
        <button class="topbar__user dropdown-toggle btn d-flex align-items-center gap-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-circle-user fa-2x"></i>
            <p class="m-0" style="font-weight: 500; font-size: small;">{{ user.get_username }}</p>
        </button>
        <ul class="dropdown-menu">
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="topbar__logout dropdown-item w-100" style="font-size: small;">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="ps-2">Logout</span>
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>