{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="container-fluid page">
    <div class="row flex-nowrap">
        {% include "_sidebar.html" %}
        <div class="col p-0">
            {% include "_topbar.html" %}
            {% include "_all-files.html" %}
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="share-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="share-modal-content">
        <div class="modal-header">
            <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer"></div>
        </div>
    </div>
  </div>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="details-panel" aria-labelledby="offcanvasExampleLabel">
    <div id="details-panel-content">
        <div class="offcanvas-header">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
    {% include '_js.html' %}
{% endblock js %}