{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="container-fluid page">
    <div class="row flex-nowrap">
        {% include "_sidebar.html" %}
        <div class="col p-0">
            {% include "_topbar.html" %}
            {% include "_all-files.html" %}
        </div>
    </div>
</div>
<!-- Modals -->
<div class="modal fade" id="share" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Sharing</h1>
          <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer justify-content-between">
            <div class="form-check form-switch">
                <input class="form-check-input share-modal__switch" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Share</label>
            </div>
          <button type="button" class="btn btn--accent">Understood</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
    {% include '_js.html' %}
{% endblock js %}