{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block js %} <script src="{% static 'js/dashboard.js' %}"></script>{% endblock js %}

{% block content %}
<main class="container-fluid page">
    <div class="row flex-nowrap">
        <section class="col-2 px-3 bg-dark page__nav">
            {% include "_sidebar.html" %}
        </section>
        <section class="col-10 p-0">
            {% include "_topbar.html" %}
            {% include "_dashboard.html" %}
        </section>
    </div>
</main>
{% endblock content %}